/* big tablet to 1200px (widths smaller than the 1140px row */
@media only screen and (max-width: 1200px) {
  /* if hero background image isn't fit in range of 1200 - 1020 */
}

/* small tablets to big tablets : 768px to 1024px */
@media only screen and (max-width: 1024px) {
  .fixed-navbar,
  .main-intro,
  .main-content,
  .info-section,
  .footer-flex,
  .search-main-wrapper {
    max-width: 1024px;
    width: 100%;
  }
  /* NAVBAR */
  .hamburger-menu {
    display: flex;
    justify-content: space-between;
    margin: 15px 50px 0px 50px;
    height: 96px;
    align-items: center;
    max-width: 1024px;
  }
  .hamburger-menu i {
    font-size: 30px;
    text-align: center;
    width: 1.25em;
    height: 34px;
    font-weight: 900;
  }
  .header-right img {
    width: 142px;
    height: 46px;
  }
  .header-container {
    max-width: 1024px;
    display: none;
  }
  /* HERO */
  .hero-container {
    position: relative;
  }
  .hero .title {
    margin-right: 90px;
    margin-top: 155px;
  }
  /* INTRO */
  .main-intro {
    position: absolute;
    transform: translateY(-550px);
  }
  /* MAIN CONTENT */
  .main-content {
    height: 1484px;
    display: flex;
    flex-direction: column;
    background-color: #3979d9;
    width: 100%;
    padding: 0px 20px;
    margin-top: 80px;
    border-radius: 20px;
    color: #fff;
  }
  .main-content img {
    width: 461px;
    height: 461px;
  }
  /* INFO SECTION */
  .info-section {
    justify-content: space-around;
  }
  .right-section,
  .left-section {
    width: 48%;
  }
  /* SEARCH BOX  */
  .search-main-wrapper {
    width: 100%;
    max-width: 994px;
  }
  .search-box {
    max-width: 542px;
  }
  .input {
    max-width: 502px;
  }
  /* FOOTER */
  .footer-flex {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .first-column {
    margin-right: 0px;
  }
  .second-column {
    padding-right: 0px;
  }
  .third-column {
    padding-right: 0px;
  }

  .first-column-p {
    position: initial;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    height: 300px;
    width: 624px;
  }
  .first-column-img {
    position: initial;
  }
}
/* Fixing some search box between 920px~850px */
@media only screen and (max-width: 920px) {
  /* SEARCH BOX  */
  .search-box {
    max-width: 386px;
  }
  .input {
    max-width: 346px;
  }
}
/* Fixing some image sizes between 850px~767px */
@media only screen and (max-width: 850px) {
  .main-intro-img img {
    width: 363px;
    height: 369px;
  }
  /* MAIN CONTENT */
  .main-content {
    height: 1100px;
    margin-top: 0px;
  }
  .main-content img {
    width: 338px;
    height: 338px;
  }
}

/* small phones to small tablets : 481px to 767px */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .fixed-navbar,
  .main-intro,
  .main-content,
  .info-section,
  .footer-flex,
  .search-main-wrapper {
    max-width: 767px;
    width: 100%;
  }
  /* NAVBAR */
  .header-right img {
    width: 216px;
    height: 72px;
  }
  /* INTRO */
  .main-intro {
    position: relative;
    transform: translateY(300px);
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-bottom: 400px;
    margin-top: 80px;
  }
  .main-intro-text,
  .main-intro-img {
    width: 100%;
    padding: 20px;
  }
  .main-intro-img img {
    width: 461px;
    height: 468px;
    margin: auto;
  }
  .main-intro-text h2 {
    font-size: 28px;
  }
  .main-intro-text p {
    font-size: 14px;
  }
  .getNeshan-buttonwrapper {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  /* MAIN CONTENT */
  .main-content {
    width: 100%;
    padding: 0px 5px;
    flex-direction: column;
    height: 2250px;
    border-radius: 0;
    margin-bottom: 50px;
  }
  .main-content h2 {
    font-size: 18px;
  }
  .main-content .row {
    flex-direction: column;
  }
  .main-content .second-row {
    flex-direction: column-reverse;
    margin-top: 30px;
  }

  .main-content .second-row p {
    margin-bottom: 30px;
  }

  .third-row p {
    padding-bottom: 25px;
  }
  .figure {
    max-width: 767px;
    width: 100%;
  }
  .main-content img {
    width: 100%;
    min-width: 580px;
    height: auto;
    /* margin: auto; */
  }
  figcaption {
    text-align: center;
    transform: translate(0px, -75px);
  }
  .main-content h2,
  p {
    text-align: center;
  }
  .main-content p {
    font-size: 14px;
    width: 451px;
    line-height: 1.9;
    margin-bottom: 15px;
  }
  /* SEARCH BOX */
  .search-tool-text h2 {
    font-size: 16px;
    text-align: center;
  }
  .search-main-wrapper {
    width: 100%;
    min-width: 610px;
    height: 216px;
    margin-bottom: 0px;
    justify-content: center;
  }
  .search-tool-partition {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .search-box {
    min-width: 600px;
    width: 100%;
    margin-left: 0px;
    padding-right: 0px;
  }
  .faded-text {
    padding-right: 0px;
    margin-right: 10px;
    font-size: 10px;
    color: #bbbbbb;
    opacity: 0.8;
  }
  .search-icons {
    margin-top: 10px;
    width: 100%;
    min-width: 610px;
    justify-content: space-between;
  }
  .search-icons svg {
    width: 40px;
    height: 40px;
  }

  .input {
    min-width: 570px;
    width: 100%;
  }
  /* INFO SECTION */
  .info-text h2 {
    margin-bottom: 15px;
  }
  .info-section {
    width: 100%;
    margin: 125px auto 105px auto;
    margin-top: 125px;
    flex-direction: column-reverse;
    margin-bottom: 105px;
  }
  .right-section,
  .left-section {
    width: 100%;
    min-width: 570px;
    height: 154px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    align-items: center;
  }
  .right-section h2,
  .left-section h2 {
    font-size: 18px;
  }
  .left-section img {
    margin-left: 25px;
  }
  .left-section img,
  .right-section img {
    margin-top: 15px;
  }
  /* FOOTER */

  .first-column-p {
    flex-direction: row;
    border-radius: 10px;
    width: 431px;
    height: 172px;
    margin-right: 0px;
  }
  .first-column-p img {
    width: 172px;
    height: 152px;
  }
  .first-column-p p {
    font-size: 17px;
  }
}

/* fixing navbar and search box from  610px to 481px */
@media only screen and (min-width: 481px) and (max-width: 610px) {
  .fixed-navbar,
  .main-intro,
  .main-content,
  .info-section,
  .footer-flex {
    max-width: 610px;
    width: 100%;
  }

  .header-right img {
    width: 168px;
    height: 56px;
  }
  /* MAIN */
  .main-content {
    height: 1980px;
  }
  .figure {
    max-width: 610px;
  }
  .main-content img {
    min-width: 480px;
  }
  /* SEARCH BOX */
  .search-main-wrapper {
    min-width: 475px;
  }

  .search-box {
    min-width: 470px;
  }
  .input {
    min-width: 440px;
  }
  .search-icons {
    margin-top: 10px;
    min-width: 380px;
    justify-content: space-between;
  }
  .petition-section {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    justify-content: space-between;
  }
  .petition-section p {
    font-size: 13px;
    text-align: right;
    width: 300px;
  }
  .petition-section button {
    font-size: 12px;
    height: 26px;
    width: 100px;
    line-height: 20px;
    padding-right: 0%;
    padding-left: 0%;
    text-align: center;
  }

/* small phones : 0 to 480px */
@media only screen and (max-width: 480px) {
  .fixed-navbar,
  .main-intro,
  .main-content,
  .info-section,
  .footer-flex,
  .search-main-wrapper {
    max-width: 480px;
    width: 100%;
  }
  .header-right img {
    max-width: 167px;
    height: 55px;
  }
  

  .hamburger-menu {
    max-width: 480px;
    height: 97px;
    margin: 0;
 
  }
  .fixed-navbar
  {
    position: fixed;
    z-index: 500;
  }
  .hamburger-menu .header-right , .hamburger-menu .header-left
  {
    width:50%;
  }
  .hero
  {
    background-image: url(IMG/tehran360.jpg);
  }
  .main-intro
  {
   position: relative;
   transform: translateY(220px);
   flex-direction: column-reverse;
   align-items: center;
   text-align: center; 
   /* margin-bottom: 400px; */
   /* margin-top :80px; */
  }

 .main-intro-text , .main-intro-img 
 {
   width: 100%;
   /* padding: 20px; */
 }
 .main-intro-img img
 {
    max-width: 461px;
    width: 90vw;
    height: 90vh;
    height: auto;
    margin: auto;
    padding-top: 0px;
   
 }
 .main-intro-text h2
 {
   font-size: 28px;
 }
 .main-intro-text p {
   font-size: 14px;
 }
 .getNeshan-buttonwrapper
 {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto; 
 }
  .title
  {
    display: none;
  }
.main-content
{
  flex-direction: column;
  /* height: 1900px; */
  border-radius: 0;
  margin-bottom: 50px;
}
.main-content h2
{
  font-size: 18px;
}
.main-content .row 
{
  flex-direction: column;
}
.main-content .second-row
{
  flex-direction: column-reverse;
  /* margin-top: 30px; */
}

/* .main-content .second-row p 
{
  margin-bottom: 30px;
} */

/* .third-row p
{
  padding-bottom: 25px;
} */
.main-content img 
{   max-width: 461px;
    width: 90vw;
    height: 90vh;
    height: auto;
    margin: auto;
}
figcaption
{
text-align: center;
transform: translate(0px, -75px); 
}
.main-content h2 , p
{
  text-align: center;
}
.main-content p
{
  font-size: 14px;
  max-width: 451px;
  line-height: 1.9;
  margin-bottom: 40px;

}

.search-tool-text h2
{
  font-size: 16px;
  text-align: center;
}
.search-main-wrapper
{
  margin-bottom: 0px;
  max-width: 461px;
    width: 90vw;
    height: 90vh;
    height: auto;
    margin: auto;
  justify-content: center;
}
.search-tool-partition
{
  flex-direction: column-reverse;
  justify-content: center;
}
.search-box
{
    margin-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    max-width: 400px;
    width: 75vw;
    height: 48px;
    /* margin: auto; */
  justify-content: center;
}
.faded-text
{
  max-width: 300px;
  width: 60vw;
  height: 40px;
  padding-right: 0px;
  margin-right: 10px;
  font-size: 10px;
  color: #BBBBBB;
  opacity: 0.8;
}
.search-icons
{
  margin-top: 10px;
  max-width: 380px;
  justify-content: space-between;
}
.search-icons svg
{
  max-width: 40px;
  height: 40px;
}
.info-section
{
  margin-top: 125px;
  flex-direction: column-reverse;
  margin-bottom: 105px;
}
.right-section, .left-section
{
  max-width: 451px;
  width: 90vw;
  height: auto;
  height: 154px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  align-items: center;
}
.right-section h2, .left-section h2
{
  font-size: 18px;
}
.left-section img{
  margin-left: 25px;
}
.left-section img, .right-section img
{
  margin-top: 15px;
}
.petition-section
{
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  justify-content: space-between;
}
.petition-section p{
  font-size: 13px;
  text-align: right;
  max-width: 300px;
}
.petition-section button {
  font-size: 12px;
  height: 26px;
  max-width:100px;
  width: 170px;
  line-height: 20px;
  padding-right: 0%;
  padding-left: 0%;
  text-align: center;
}

.info-text h2
{
  margin-bottom: 15px;
}
footer {
  margin-top: 0px;
  background-color: #fff;
}
.footer-flex
{
  margin-top: 0px;
}
.first-column-p
{
  flex-direction: row;
  border-radius: 10px;
  max-width: 431px;
  width: 90vw;
  height: 172px;
  margin-right: 0px;
}
.first-column-p img{
  width: 172px;
  height: 152px;
}
.first-column-p p{
  font-size: 17px;
}

.footer-nav-links a
{
 font-size: 12px;
}
.third-column h3 , .Fourth-column h3
{
  font-size: 12px;
}

.tablet-text
{
  display: inline-block;

}

.third-column {
margin-right: 50px;
}
.second-column
{
  flex-direction: column-reverse;
  margin-right: 0%;
  padding-right: 0%;
}

.footer-nav-links-telegram
{
  flex-direction: row;
}
.footer-nav-links-telegram a{
  font-size: 12px;
  padding-bottom: 0%;
  padding-right: 20px;
  /* padding-right: 50px; */
}
.footer-copy-right p
{
  font-size: 8px;
}

.go-down
{
  display: inline-block;
  position: absolute;
  transform: translateY(-620px);
  z-index: 555555;
  background-color: #fff;
  border-radius: 100px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  padding-top: 9px;
  color: black;
}
#add {
  display: inline-block;
  font-size: 10px;
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 15px;
}

.second-column #address , #address-p
{display: none;}
}

/* ---Moto G4 and Galaxy--- */
@media only screen and (min-width:360px) and (max-width:374px) 
{
  .header-right 
  {
    padding-right: 45px;
    padding-top: 15px;
  }
  .header-left
  {
    padding-left: 30px;
  } 

  .main-intro
  {
   margin-bottom: 335px;
   margin-top :0px;
  }

 .main-intro-text , .main-intro-img 
 {
   width: 100%;
   /* padding: 20px; */}
  

  .header-right img 
  {
    width: 124px;
    height: 41px;
  }
  .tablet-text
  {
    margin-right: 114px;
    margin-top: 170px;
  }
  .main-content {
    height: 1550px;
  }
  .info-section img
  {
    width: 96px;
    height: auto;
  }
  .petition-section .button
 
  .links-telegram a
  {
    margin-right: 20px;
  }
  .search-main-wrapper {padding: 20px;}
  .search-tool-text h2 {padding-top: 0px;}

}

@media only screen and (min-width:280px) and (max-width:319px) {
  .header-right 
  {
    padding-right: 45px;
    padding-top: 15px;
  }
  .header-left
  {
    padding-left: 30px;
  } 

  .header-right img 
  {
    width: 93px;
    height: 31px;
  }
  .tablet-text
  {
    margin-right: 105px;
    margin-top: 150px;
  }

  .go-down
  {
     transform: translateY(-645px);
     z-index: 555555;
  }
  .main-content {
    height: 1565px;
    border-radius: 20px;
  }
.search-tool-text h2
  {
      margin-right: 25px;
      margin-left: 25px;
  } 
  .main-intro
  {
   margin-bottom: 300px;
   margin-top :0px;
  }
   .search-element
  {
    margin-left: 0;
    margin-right: 0;
  }
  .main-intro img
  {
    margin-bottom: 25px;
  }
  .main-intro p{
    padding-right: 15px;
    padding-left: 15px;
  }
  .search-main-wrapper
   {
     width: 90vw;  
      padding: 20px;
  }
  .petition-section button
  {
    width: 100%
      /* margin-right: 0px; */
  }
}
@media only screen and (min-width:320px) and (max-width:359px)
{
  
  .header-right 
  {
    padding-right: 45px;
    padding-top: 15px;
  }
  .header-left
  {
    padding-left: 30px;
  } 

  .header-right img 
  {
    width: 109px;
    height: 36px;
  }
  .tablet-text
  {
    margin-right: 105px;
    margin-top: 150px;
  }

  .main-content {
    height: 1600px;
  }
  .main-content p
  {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-intro
  {
   margin-bottom: 335px;
   margin-top :0px;
  }
  .search-main-wrapper {padding: 20px;}
  .main-intro-text p {
    padding-right: 10px;
    padding-left: 10px;
  }

}
@media only screen and (min-width: 376px) and (max-width: 414px)
{
   
  .header-right img 
  {
    width: 142px;
    height: 47px;
  }
  .header-right 
  {
    padding-right: 45px;
    padding-top: 15px;
  }
  .header-left
  {
    padding-left: 30px;
  }
  .tablet-text
  {
    margin-right: 125px;
    margin-top: 195px;
  } 
  .go-down
{
   transform: translateY(-670px);
   z-index: 555555;
}
.main-content {
  height: 1650px;
}
.main-intro
{
 margin-bottom: 335px;
 margin-top :35px;
}
.search-main-wrapper {padding: 20px;}

.main-intro-text p {
  padding-right: 15px;
  padding-left: 15px;}

}
/* ------411 to 480----- */
@media only screen and (min-width: 412px) and (max-width: 480px)
{

  .main-intro-text p {
    padding-right: 15px;
    padding-left: 15px;
  }
  .header-right img 
  {
    width: 167px;
    height: 55px;
  }
  .header-right 
  {
    padding-right: 45px;
    padding-top: 15px;
  }
  .header-left
  {
    padding-left: 30px;
  }
  .tablet-text
  {
    margin-right: 150px;
    margin-top: 230px;
  } 
  .go-down
  {
     transform: translateY(-710px);
     z-index: 555555;
  }
  .main-intro
    {
     margin-bottom: 335px;
     margin-top :70px;
    }
    .main-intro img{
      padding-bottom: 15px;
    }
    .main-content {
      height: 1670px;
    }
    .search-main-wrapper {padding: 20px;}
  
}
/* ----iphone 6-7-8 AND iphone X---------- */
@media only screen and (min-width: 321px) and (max-width: 375px)
{
  
  .header-right img 
  {
    width: 129px;
    height: 42px;
  }
  .header-right 
  {
    padding-right: 45px;
    padding-top: 15px;
  }
  .header-left
  {
    padding-left: 30px;
  }
  .tablet-text
  {
    margin-right: 120px;
    margin-top: 180px;
  } 
  .go-down
{
   transform: translateY(-640px);
   z-index: 555555;
}
.main-intro
  {
   margin-bottom: 335px;
   margin-top :0px;
  }
  .main-content {
    height: 1550px;
  }
  .search-main-wrapper {padding: 20px;}

  .main-intro-text p {
    padding-right: 15px;
    padding-left: 15px;
  }


}
/* ----0 to 480 ends---- */

