/* DEFAULT STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Vazir FD !important;
  background-color: #f8f9fd;
}

/* ---------------------------------------------NAVBAR SECTION----------------------------------------------------- */
.hamburger-menu {
  display: none;
}
.header-container {
  height: 84px;
  display: flex;
  align-items: center;
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.header-right {
  display: flex;
  justify-content: center;
}
.header-right img {
  width: 115px;
  height: 38px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  width: 159px;
  justify-content: flex-end;
}

.header-left .link {
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  font-family: Vazir FD !important;
  color: #464646;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

.buttonwrapper {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #3979d9;
  border-radius: 100px;
  margin-left: 25px;
}

.buttonwrapper {
  width: 126px;
  height: 35px;
  transition: all ease 0.3s;
  text-decoration: none;
}

.fixed-navbar {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.4s;
  margin-left: 20px;
}

.buttoncontentwrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}

.get-neshan-button-text,
.button-text {
  color: #fff;
  text-decoration: none !important;
  font-family: Vazir FD !important;
  font-weight: 500;
  padding-right: 5px;
  padding-left: 5px;
}
.get-neshan-button-text {
  font-size: 16px;
}
.button-text {
  font-size: 14px;
}

.buttonwrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0px 3px 25px 0px rgb(0 0 0 / 9%);
}

.links a:hover {
  color: #3979d9;
}

/* ------------------HERO-------------------- */
.hero-container {
  padding-top: 84px;
}

.hero {
  background-image: url(IMG/tehran.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  height: calc(100vh - 84px);
}

.hero .title {
  margin-right: 190px;
  margin-top: 168px;
  font-size: 44px !important;
  font-weight: 900;
  color: #262626 !important;
  line-height: 48px;
  text-align: right;
  font-family: peyda !important;
}
/* ----------------MAIN INTRO------------- */
.main-intro {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 1140px;
  height: 487px;
}
.main-intro-img {
  width: 461px;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  margin: auto;
}
.main-intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  width: 50%;
  direction: rtl;
}
.main-intro-text p {
  margin-bottom: 1.6em;
  line-height: 29.7px;
  font-size: 16px;
  font-weight: 400;
  font-family: Vazir FD;
  padding-right: 10px;
  margin-top: 0px;
}

.main-intro-text h2 {
  color: #000000;
  font-size: 32px;
  font-weight: 800;
  font-family: peyda;
  padding-right: 10px;
  margin-bottom: 24px;
}

.getNeshan-buttonwrapper {
  width: 170px;
  height: 45px;
  text-decoration: none;
  background-color: #3979d9;
  border-radius: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease 0s;
  margin-right: 10px;
  margin-top: 20px;
}
.getNeshan-buttonwrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0px 3px 25px 0px rgb(0 0 0 / 9%);
}
.buttonwrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0px 3px 25px 0px rgb(0 0 0 / 9%);
}

/* -------------------------------MAIN CONTENT ------------------------*/

.main-content {
  height: 1140px;
  display: flex;
  flex-direction: column;
  background-color: #3979d9;
  width: 1140px;
  padding: 0px 100px;
  margin: 60px auto 110px auto;
  border-radius: 20px;
  color: #fff;
}
.container {
  transform: translateY(-60px);
}
.main-content .row {
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content img {
  position: relative;
  border-radius: 20px;
}
figcaption {
  font-family: peyda;
  color: #000000;
  font-size: 22px;
  font-weight: 900;
  direction: rtl;
  transform: translate(-25px, -65px);
}
.main-content h2 {
  padding-bottom: 20px;
  direction: rtl;
  font-size: 22px;
  font-weight: 800;
  font-family: peyda;
  filter: contrast(1.05);
}
.main-content p {
  direction: rtl;
  color: #ffffffbf;
  font-size: 16px;
  filter: contrast(1.03);
}

/* ----Search box styles----- */
.search-main-wrapper {
  background-color: #404040;
  width: 1090px;
  border-radius: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 36px 45px 50px 45px;
  margin: auto;
  margin-bottom: 80px;
}
.search-tool-partition {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 1020px; */
}

.search-element {
  width: 48px;
  height: 48px;
  margin: 11px;
}

.search-box {
  background-color: #fff;
  width: 680px;
  height: 48px;
  border-radius: 100px;
  padding-right: 10px;
  padding-left: 20px;
  color: #bbbbbb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  margin-left: 35px;
}

.search-box-container {
  padding-right: 10px;
}
.input {
  width: 640px;
}
.faded-text {
  font-size: 14px;
  font-family: vazir FD;
  font-weight: 400;
  padding-right: 10px;
}
.icon-search {
  margin-left: 10px;
}
.icon-search .i:hover {
  cursor: pointer;
}

.search-tool-text h2 {
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  direction: rtl;
  line-height: 33.8px;
  font-family: peyda;
  padding: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.search-box input:focus {
  outline: none;
}
.search-box input {
  border: none;
}
.search-tool {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.search-icons {
  display: flex;
  /* margin-left: 10px; */
}
.elementor-icon svg {
  transition: background 0.3s;
  border-radius: 50px;
}

.elementor-icon :hover {
  background-color: #3979d9;
  border-radius: 50px;
  cursor: pointer;
}

.elementor-icon:hover path {
  stroke: #3979d9;
}

.buttonwrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0px 3px 25px 0px rgb(0 0 0 / 9%);
}
/* -------------------------------INFO SECTION ------------------------*/
.info-section {
  height: 178px;
  margin: 0px auto 160px auto;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  direction: rtl;
}
.info-section h2 {
  font-size: 26px;
  font-family: peyda;
  font-weight: bold;
}
.right-section {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  border-radius: 20px;
  background-color: #f2f4fb;
  width: 586px;
}
.right-section img {
  padding: 0px 0px 10px 25px;
  box-sizing: content-box;
}

.left-section img {
  padding-bottom: 10px;
  box-sizing: content-box;
}
.left-section {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #f2f4fb;
  width: 448px;
}
.info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
/* .info-text h2 {
    padding-bottom: 20px;
  } */

.more-button {
  text-decoration: none;
  height: 41px;
  font-family: Vazir FD !important;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #4e7fea;
  border-radius: 20px;
  padding: 10px 21px 11px 21px;
  line-height: 14px;
  transition: all 0.3s ease;
}
.more-button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 3px 25px 0px rgb(0 0 0 / 9%);
}

.more-button::after {
  content: "\f104";
  margin-right: 20px;
  font-family: "Font Awesome 5 Free";
  color: #3979d9;
}

/* ---------------------------PETITION SECTION------------------------- */
.petition-section {
  font-size: 15px;
  font-weight: 400;
  padding: 15px 0px;
  background-color: #222222;
  color: #fff;
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
}
.petition-section button {
  cursor: pointer;
  margin-right: 25px;
  font-family: "Vazir FD";
  border-radius: 10px;
  font-size: 15px;
  font-weight: 400;
  padding: 5px 15px;
  outline: none;
  border: none;
  background-color: #fff;
  color: #1976d2;
}

/* ---------------------------------FOOTER-------------------------------- */

.footer-flex {
  direction: rtl;
  width: 1140px;
  margin: 40px auto 60px auto;
  display: flex;
  justify-content: center;
}
.footer-flex a {
  color: #404040;
  padding: 8px 0px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}
.footer-flex a:hover {
  color: #020101;
}
.column {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-start;
}
.first-column {
  margin-right: 15px;
}
.second-column {
  padding-right: 190px;
}
.third-column {
  padding-right: 210px;
}
.column h3,
#address {
  padding-top: 20px;
  /* margin-bottom: 20px; */
  color: #000000;
  font-size: 15px;
  font-weight: bold;
}
#address-p {
  padding-top: 20px;
  font-size: 15px;
  line-height: 190%;
  color: #404040;
}
.footer-nav-links, .footer-nav-links-telegram {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.info-links {
  color: #000000;
  align-self: center;
  padding-right: 5px;
}
.telegram-icon::before {
  content: "\f3fe";
  margin-left: 12px;
  font-family: "Font Awesome 5 Brands";
  color: #3979d9;
  line-height: 16px;
  font-size: 16px;
}
.mail-icon::before {
  content: "\f0e0";
  margin-left: 12px;
  font-family: "Font Awesome 5 Free";
  color: #3979d9;
  line-height: 16px;
  font-size: 16px;
  font-weight: 900;
}

.first-column-p {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 160px;
  width: 263px;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  font-family: peyda !important;
  color: #4a529e;
  background-color: #eff1fa;
  box-shadow: 0px 25px 30px 0px rgb(52 92 151 / 6%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 22px 0px 0px;
  padding: 10px;
  border-radius: 16px;
}
.first-column-img {
  position: absolute;
  bottom: 60px;
  right: 20px;
}
.footer-copy-right {
  margin-bottom: 30px;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  text-align: center;
  line-height: 26px;
  direction: rtl;
}
.footer-copy-right a {
  text-decoration: none;
  color: #0274be;
}

/* ----added for media queries---- */
.tablet-text
{
  display: none;
  font-family: peyda;
  font-size: 25px;
  direction: rtl;
  margin-right: 145px;
  margin-top: 230px;
  font-weight: 900;
  color: #262626 ;
  line-height: 1.9;
}

.go-down
{
  display: none;
}
/* _Another address added fore tablets_ */
#add
{
display: none;

}
.mobilemenu
{
  display: none;
  
}