/* DEFAULT STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Vazir FD !important;
  background-color: #f8f9fd;
}

/* ---------------------------------------------NAVBAR SECTION----------------------------------------------------- */
.header-container {
  height: 84px;
  display: flex;
  align-items: center;
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.header-right {
  display: flex;
  justify-content: center;
}
.header-right img {
  width: 115px;
  height: 38px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  width: 159px;
  justify-content: flex-end;
}

.header-left .link {
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  font-family: Vazir FD !important;
  color: #464646;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

.buttonwrapper {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #3979d9;
  border-radius: 100px;
  margin-left: 25px;
}

.buttonwrapper {
  width: 126px;
  height: 35px;
  transition: all ease 0.3s;
  text-decoration: none;
}

.fixed-navbar {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.4s;
  margin-left: 20px;
}

.buttoncontentwrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}

.button-text {
  color: #fff;
  text-decoration: none !important;
  font-family: Vazir FD !important;
  font-size: 14px;
  font-weight: 500;
  padding-right: 5px;
  padding-left: 5px;
}

.buttonwrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0px 3px 25px 0px rgb(0 0 0 / 9%);
}

.links a:hover {
  color: #3979d9;
}

.hero-container {
  padding-top: 84px;
}

.hero {
  background-image: url(IMG/tehran.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  height: calc(100vh - 84px);
}

.hero .title {
  margin-right: 190px;
  margin-top: 168px;
  font-size: 44px !important;
  font-weight: 900;
  color: #262626 !important;
  line-height: 48px;
  text-align: right;
  font-family: peyda !important;
}
.main-intro {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 1140px;
  height: 487px;
}
.main-intro-img {
  width: 461px;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  margin: auto;
}
.main-intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  width: 50%;
  direction: rtl;
}
.main-intro-text p {
  margin-bottom: 1.6em;
  line-height: 29.7px;
  font-size: 16px;
  font-weight: 400;
  font-family: Vazir FD;
  padding-right: 10px;
  margin-top: 0px;
}

.main-intro-text h2 {
  color: #000000;
  font-size: 32px;
  font-weight: 800;
  font-family: peyda;
  padding-right: 10px;
  margin-bottom: 24px;
}

.getNeshan-buttonwrapper {
  width: 170px;
  height: 45px;
  text-decoration: none;
  background-color: #3979d9;
  border-radius: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease 0s;
  margin-right: 10px;
  margin-top: 20px;
}
.getNeshan-buttonwrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0px 3px 25px 0px rgb(0 0 0 / 9%);
}
.buttonwrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0px 3px 25px 0px rgb(0 0 0 / 9%);
}

/* -------------------------------MAIN CONTENT ------------------------*/

.main-content {
  height: 1140px;
  display: flex;
  flex-direction: column;
  background-color: #3979d9;
  width: 1140px;
  padding: 0px 100px;
  margin: 60px auto 120px auto; /* gotta change top */
  border-radius: 20px;
  color: #fff;
}
.container {
  transform: translateY(-60px);
}
.main-content .row {
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content img {
  position: relative;
  border-radius: 20px;
  /* margin-right: 100px; */
}
figcaption {
  font-family: peyda;
  color: #000000;
  font-size: 22px;
  font-weight: 900;
  direction: rtl;
  transform: translate(-25px, -65px);
}
.main-content h2 {
  padding-bottom: 20px;
  direction: rtl;
  font-size: 22px;
  font-weight: 800;
  font-family: peyda;
  filter: contrast(1.05);
}
.main-content p {
  direction: rtl;
  color: #ffffffbf;
  font-size: 16px;
  filter: contrast(1.03);
}
